@import "./preflight.css";
@import "tailwind-vars";

html {
	scrollbar-gutter: stable;
	color-scheme: light;
}

html.dark {
	background: var(--zinc-900);
	color: #fff;
	color-scheme: dark;
}

body {
	padding: 0 var(--size-2) var(--size-4);
}

.nuxt-loading-indicator {
	background-color: var(--orange-300);
}

.dark .nuxt-loading-indicator {
	background-color: var(--neutral-600);
}
