name: Deno Deploy

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    ci:
        runs-on: ubuntu-latest
        permissions:
            id-token: write

        steps:
            - uses: actions/checkout@v6

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.0
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build for Deno
              run: pnpm build
              env:
                  NITRO_PRESET: deno_deploy

            - name: Deploy to Deno Deploy
              uses: denoland/deployctl@v1
              with:
                  project: bhn
                  entrypoint: server/index.ts
                  root: .output
